

// Background of the page
body{
    background-color: #1b1b1b;
}

// Header links style
.header-links{
    // Align to top right
    text-align: right;
    
    a {
        margin: 10px;
        text-decoration: none;
        color: aliceblue;
    }
}

// General style for inputs
input {
    font-size: 16;
    width: 400px;

    &:focus {
        outline: none;
    }
    &[type="text"] {
        color: #ffffff;
        margin: 0 0 0 5px;
    }

    &[type="submit"] {
        width: 185px;
        font-size: 14px;
        background-color: #797979;
        border-radius: 4px;
        border-width: 0px;
        margin: 10px;
        // Highlight submit button
        &:hover {
            box-shadow: 0px 0px 2px rgba(252, 252, 252, 0.8);
        }
    }
}


// Allign the container that will include the form for the search
.container-form {
    $input_field_border_radius: 25px;
    display: flex;
    margin-top: 45vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

// Allign and style for the container of the search field (text input)
.search-field{
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid #afafaf;
    align-items: center;
    margin: 20px;
    padding-left: 15px;

    input{
        height: 45px;
        background-color: #1b1b1b;
        border: none;
        border-radius: 25px;
    }
}

#google-name{
    font-family: 'Product Sans';
    font-size: 20px;
    color: #ffffff;
    margin: 1vh;
}

.advanced-form{
    margin-top: 8vh;
    margin-left: 2vh;
    width: auto;
    height: auto;
    color: #ffffff;
    font-size: 20px;
}
.header-advanced-form{
    width: auto;
    height: auto;
    border-bottom: solid 1px #000000;
    p{
        font-size: 30px;
        color: #ac0000;
    }
}

.input-advanced-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    form{
        width: 100%;
    }
    .form-group{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        width: 100%;
        
        input{
            flex: 1.5;
            border: solid #ffffff 1px;
            background-color: transparent;
            &:focus{
                border: solid #0161b1 1px;
            }
        }

        label{
            flex: 1;
            text-align: left;
            font-size: 16px;
            color: #797979;
        }

        .explanation{
            flex: 1;
            text-align: right;
            margin-left: 10px;
            label{
                font-size: 12px;
            }
        }
    }
    
}


